body, h1, h2, p, ul, li, button {
    margin: 0;
    padding: 0;
}

body, html {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333; 
    color: white; 
}

.navbar {
    background-color: #333;
    overflow: hidden;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    float: left;
}

.navbar a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar {
    box-shadow: 10px 10px 0px 0px;
    margin-bottom: 100px;
}

.navbar a:hover {
    background-color: #ddd;
    color: #333;
}

/* Új CSS a bejelentkezési űrlap elrendezéséhez */
.regform {
    text-align: left;
    padding-left: 20px;
}

.input-group {
    margin-bottom: 10px;
}

@media screen and (max-width: 600px) {
    .navbar {
        overflow: auto;
    }

    .navbar li {
        float: none;
        text-align: center;
    }
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    flex-grow: 1;
    padding: 20px;
}

.product {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    text-align: center;
    max-width: auto;
    max-height: 300px ;
}

.product img {
    max-width: 100%;
}

.price {
    font-weight: bold;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

aside {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    text-align: center;
    max-width: 300px;
    justify-content: center;
    
}

footer {
    padding: 10px;
    background-color: #333; 
    color: white; 
}



img{
    height: 90px;
    width: auto;
}

#Letöltés
{
font-size: 3vw;
height: 5vw;
background-color: red;
box-shadow: 10px 10px;
color: green;
font-family:PressStart2P;

}
#dowbcg{
    height: auto;
    background-repeat:no-repeat;
    background-size: cover;
}
#dg-main{
    
    width: auto;
}

@font-face {
    font-family: "PressStart2P";
    src: url('PressStart2P.ttf');

}
.infoimg{
    height: 200px;
}

.flip-card-3D-wrapper {
  width: 60%;
  height: 80%;
  max-width: 300px;
  max-height: 500px;
  position: relative;
  -o-perspective: 900px;
  -webkit-perspective: 900px;
  -ms-perspective: 900px;
  perspective: 900px;
  margin: 0 auto;
}
#flip-card {
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 50px auto;
  position: absolute;
  -o-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -o-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.do-flip {
  -o-transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
#flip-card-btn-turn-to-back, #flip-card-btn-turn-to-front {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 40px;
  height: 40px;
  background: white;
  cursor: pointer;
  visibility: hidden;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: .7em;
  padding: 0;
  color: grey;
  border: 1px solid grey;
}
#flip-card .flip-card-front, #flip-card .flip-card-back{
  width: 100%;
  height: 100%;
  position: absolute;
  -o-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 2;
  -webkit-box-shadow: 5px 6px 32px 2px rgba(133,133,133,0.71);
  -moz-box-shadow: 5px 6px 32px 2px rgba(133,133,133,0.71);
  box-shadow: 5px 6px 32px 2px rgba(133,133,133,0.71);
}
#flip-card .flip-card-front {
    background: lightgreen;
    border:1px solid grey;
}
#flip-card .flip-card-back {
    background: lightblue;
    border: 1px solid grey;
    -o-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
#flip-card .flip-card-front p, #flip-card .flip-card-back p {
  color: grey;
  display: block;
  position: absolute;
  top: 40%;
  width: 100%;
}
/* main.css */
.header-content {
    display: flex;
    align-items: center;
}

button {
    margin-right: 10px; 
}

#back-button{
    background-color: #fff;
}
label {
    color: white;
}
form{
float: right;
}

.navbar button:hover {
    background-color: #ddd; 
    color: #333;
    width: 100%;
}
#regisztralas{
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}
.navbar #regisztralas:hover {
    background-color: #ddd; 
    color: #333;
    width: 100%;
    
}

.form-group {
    margin-bottom: 20px;
    color: black;
    
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

button#payment-button {
    width: 100px;
    height: auto;
    justify-content: center;
    text-align: center;
    
}

form#payment-form {
    text-align: center;
    justify-items: center;
}
label{
    color: #333;
}

h1.fizetes{
    text-align: center;
    padding-bottom: 15px;
}

#payment{
    width: 300px;
}